<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Lab3Task1Context" connectionString="metadata=res://*/EF.Lab3Task1Model.csdl|res://*/EF.Lab3Task1Model.ssdl|res://*/EF.Lab3Task1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOBIR\SQLEXPRESS;initial catalog=lab3task1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>